PORT=5000
DB_HOST=localhost
DB_USER=ctfquest
DB_PASSWORD=1129
DB_NAME=ctfquest
JWT_SECRET=9ab2e01f9c8f22d2cbd27eedbd28170bd7c92fc1aaee56f440f9b9418ac08027
CORS_ORIGIN=http://localhost:5173
DB_ROOT_PASSWORD=1129